ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/fundo01.jpg") no-repeat center center / cover;
  position: fixed;
}

.action-button {
  text-align: center;
  margin-top: 3%;

  .login-button {
    --background: #000ba1;
    width: 100%;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
  }
}

.header {
  display: flex;
  justify-content: space-around;

  .action-button {
    text-align: center;
    margin-top: 3%;
  
    .button-cad {
      --background: #000ba1;
      width: 100%;
      font-weight: bold;
      margin-left: 0;
      margin-right: 0;
    }

    .button-return {
      --background: #23af3b;
      width: 100%;
      font-weight: bold;
      margin-left: 0;
      margin-right: 0;
    }
  }
}